 * {
    margin: 0;
    padding: 0;
 }

 .nav {
    background: url("../images/scopeindia-bkg.png"), linear-gradient(90deg, rgb(4 11 45) 0%, #04145f 100%);
    height: 175px;
    background-attachment: fixed;
 }

 .logo {
    width: 180px;
    height: 140px;
    margin: 20px 0 0 20px;
 }

 .rating {
    float: right;
    width: 200px;
    margin: 15px 80px 0;
 }

 .app {
    position: fixed;
    right: 5px;
    top: 3px;
    display: flex;
    flex-direction: column;
    gap: 1px;
    z-index: 1000;
 }

 .app img {
    width: 45px;
 }

 .navbar {
    margin-left: 980px;
    margin-top: -34px;
 }

 .navbar ul {
    display: flex;
    gap: 5px;
    list-style-type: none;
 }

 .navbar a {
    padding: 5px 5px;
    text-decoration: none;
    color: #d6d6d6;
    font-family: Poppins, Arial;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: .7px;
 }

 .current {
    border: 1px solid #9da5ca;
    background-color: rgba(135, 133, 125, 0.3);
    border-radius: 5px;
 }

 .reg {
    background-color: red;
    border-radius: 5px;
    color: white !important;
 }

 .reg:hover {
    border: 1px solid #9da5ca;
    background-color: rgba(135, 133, 125, 0.3);
    padding: 5px 4px;
 }

 .navigation:hover {
    color: #eeaf10;
    border: 1px solid #9da5ca;
    padding: 5px 4px;
    background-color: rgba(135, 133, 125, 0.3);
    border-radius: 5px
 }

 .carrer h1 {
    background: linear-gradient(60deg, #04145f 0%, rgb(4 13 55) 100%);
    padding: 7px 15px;
    border-bottom: 1.5px solid #c7ac20;
    border-top: 1.5px solid #c7ac20;
    color: #eeaf10;
    font-size: 35px;
    padding-right: 30px;
    font-weight: normal;
    text-align: center;
 }

 .carrer {
    font-family: Viga;
    height: 179px;
    margin-top: -5px;
    background: linear-gradient(45deg, #e2e2e2, #fff);
 }

 .carrer h2 {
    color: #14267c;
    padding: 0px 10px 0px 10px;
    font-weight: normal;
    text-align: center;
    margin-right: 14px;
    margin-top: 15px;
    font-size: 158%;

 }

 .carrer h3 {
    color: #0b27a8;
    font-size: 16.8px;
    padding: 9px 15px;
    text-align: justify;
    font-weight: normal;
    margin-right: 15px;
 }

 .glob {
    text-align: center;
    border-top: 5px solid #04145f;
    height: 106px;
    background: linear-gradient(45deg, #e2e2e2, #fff);
 }

 .glob h4 {
    color: #04145f;
    font-size: 19px;
    font-family: Viga;
    font-weight: normal;
    margin-right: 15px;
    padding-top: 15px;
 }

 .image {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    place-items: center;
    padding: 7px 0px 0px 0px;
    margin-right: 15px;
    background: linear-gradient(45deg, #e2e2e2, #fff);
 }

 .istqb {
    width: 142px !important;
 }

 .cisco {
    width: 142px !important;
    margin-top: -10px;
 }

 .image img {
    width: 50%;
    height: auto;
 }

 .dream {
    background: linear-gradient(90deg, rgb(11 23 81) 0%, rgb(10 29 121) 31%);
    padding: 60px 85px;
    font-family: Viga;
    color: white;
    height: 378px;
 }

 .content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 80px;
 }

 .left_content {
    flex: 1;
 }

 .right_content {
    margin-left: -60px;
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin-top: 58px;
 }

 .dream h2 {
    color: #fecb00;
    font-size: 35px;
    margin-top: -9px;
 }

 .dream p {
    font-size: 18px;
    line-height: 1.25;
    margin-top: 20px;
    margin-bottom: 25px;
    letter-spacing: .5px;
 }

 .hm_abt_cont_courses ul {
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    gap: 20px 10px;
    /* reduced horizontal gap */
    list-style: none;
    padding: 0;
    margin-top: 30px;

 }

 .hm_abt_cont_courses li {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    color: #fff;
 }

 .hm_abt_cont_courses svg {
    width: 18px;
    height: 18px;
 }

 .hm_abt_cont_courses a {
    text-decoration: none;
    color: #fff;
 }

 .right_content div {
    background: #0b1e7d;
    border: 2px solid #f1ad0e;
    border-radius: 20px 0;
    height: 85px;
    padding: 24px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
 }

 .right_content h3 {
    color: #fecb00;
    margin-bottom: 10px;
    font-size: 19px;
 }

 .right_content p {
    color: #fff;
    font-size: 16px;
    line-height: 1.4;
    margin: 0;
 }

 .intern {
    /* margin-top: 5px !important; */
    height: 130px !important;
 }

 .right_content div:hover {
    transform: scale(1.05);
 }

 .Highlights {
    font-family: Viga;
    background-color: #e2e2e2;
    height: 225px;
 }

 .high_content h2 {
    color: #0b1e7d;
    margin: 30px;
    text-align: center;
    font-size: 30px;
 }

 .box div {
    width: 430px;
    height: 98px;
    padding: 15px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }

 .box span {
    font-size: 40px;
    font-weight: 700;
    color: #e5c000;
 }

 .box p {
    font-size: 18px;
    margin: 10px 2px;
    color: #0b27a8;
 }

 .box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 50px;
    margin-right: 30px;
 }

 .ai {
    background: linear-gradient(2deg, #011b7c 0%, rgb(9 23 85) 80%);
    font-family: Viga;
    height: 700px;
 }

 .ai_content h2 {
    font-size: 45px;
    margin-bottom: 15px;
    padding: 5px;
    text-align: center;
    background: linear-gradient(0deg, rgb(187 151 39) 29%, rgb(249 245 146) 50%, rgb(215 167 41) 76%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    padding-top: 35px;
 }

 .ai_content h3 {
    color: #0b1e7d;
    background: linear-gradient(0deg, rgb(187 151 39) 3%, rgb(249 245 146) 56%, rgb(215 167 41) 100%);
    display: inline-block;
    font-size: 23px;
    margin-left: 596px;
    padding: 10px 20px;
    border-radius: 20px 2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }

 .ai_content p {
    margin-top: 18px;
    margin-left: 31px;
    font-size: 20px;
    color: #fff;
    padding: 20px;
 }

 .ai_content span {
    margin-left: 630px;
 }

 .data-science {
    position: relative;
    margin-left: 30px;
    margin-top: 21.5px;
    width: 720px;
    height: 378px;
    border-radius: 10px;
    background-size: cover;
 }

 .robot {
    position: absolute;
    width: 430px;
    height: 432px;
    left: 20px;
    margin-top: 7px;
    filter: drop-shadow(10px 10px 20px rgba(0, 0, 0, 0.5));
    animation: moveSide 2s ease-in-out infinite alternate;
 }

 @keyframes moveSide {
    0% {
       transform: translateX(-15px);
    }

    100% {
       transform: translateX(3px);
    }
 }

 .text_courses {
    margin-top: -8px;
    width: 720px;
 }

 .text_courses ul {
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    gap: 32px 10px;
    border: 2px solid #e5c000;
    border-radius: 20px;
    padding: 20px;
    list-style: none;
    margin: 0 20px;
    margin-top: 30px;
    padding-bottom: 40px;
    padding-top: 30px;
    height: 270px;
 }

 .text_courses li {
    display: flex;
    align-items: center;
    gap: 14px;
    font-size: 15px;
    color: #fff;
 }

 .text_courses svg {
    width: 18px;
    height: 18px;
 }

 .text_courses a {
    text-decoration: none;
    color: #fff;
 }

 .grid_box {
    display: flex;
    gap: 20px;
 }

 .click {
    text-decoration: none;
    /* optional */
 }

 .full_stack {
    padding: 50px;
    background-color: rgb(245 245 245 / 1);
    height: 477px;
    font-family: Viga;
 }

 .full_stack h2 {
    font-family: Viga;
    font-size: 35px;
    margin-bottom: 50px;
    text-align: start;
    color: #0b1e7d;
    padding: 5px;
 }

 .left_stack {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 660px;
    height: 331px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }

 .left_stack h3 {
    color: #000;
    font-size: 22px;
    padding: 10px;
    margin-bottom: 12px;
 }

 .right_stack img {
    width: 700px;
    height: 367px;
    border-radius: 10px;
 }

 .main_stack {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
 }

 .left_stack li {
    font-size: 17px;
    margin-bottom: 6px;
    list-style-type: none;
 }

 .left_stack a {
    text-decoration: none;
    color: #000;
 }

 .left_stack h4 {
    font-size: 17px;
    margin-bottom: 7px;
    color: #000;
 }

 .left_stack p {
    font-size: 17px;
    color: #656363;
    font-weight: 600;

 }

 .left_stack span {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    margin-left: -10px;
    margin-top: 22px;
    background-color: #e5c000;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 14.6px;
    font-size: 20px;
    font-weight: 600;
 }

 li div {
    margin-top: -34px;
    margin-left: 44px;
 }

 .Soft_Testing {
    height: 700px;
    background: linear-gradient(90deg, rgb(11 23 81) 0%, rgb(10 29 121) 31%);
    font-family: Viga;
 }

 .testing h2 {
    color: #fff;
    text-align: center;
    padding: 60px 0;
    font-size: 30px;
    margin-bottom: 20px;
    letter-spacing: 0.4px;
    margin-left: 4px;
 }

 .testing span {
    color: #eec705;
    font-size: 50px;
 }

 .testing_image img {
    width: 720px;
    height: 382px;
    border-radius: 10px;
    margin-left: 30px;
    margin-top: -30px;
 }

 .right_testing h4 {
    color: #0b1e7d;
    background-color: #fecb00;
    display: inline-block;
    font-size: 23px;
    margin-bottom: 22px;
    margin-top: -10px;
    margin-left: 94px;
    padding: 10px;
    border-radius: 15px 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }

 .testing_courses {
    margin-top: 40px;
    margin-left: 10px;
 }

 .testing_courses ul {
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    row-gap: 32px;
    column-gap: 100px;
    border-radius: 20px;
    padding: 20px;
    list-style: none;
    margin: 0 20px;
    margin-top: 5px;
    padding-top: 0px;
    /* height: 270px; */
 }

 .testing_courses li {
    display: flex;
    align-items: center;
    gap: 17px;
    font-size: 19px;
    color: #fff;
 }

 .testing p {
    color: #fff;
    font-size: 22px;
    text-align: center;
    letter-spacing: 0.3px;
    line-height: 23px;
    margin-top: 15px;
    padding-bottom: 50px;
 }

 .testing_courses svg {
    width: 18px;
    height: 18px;
 }

 .testing_courses a {
    text-decoration: none;
    color: #fff;
 }

 .main_testing {
    display: flex;
    gap: 20px;
 }




 .dev {
    font-family: Viga;
 }

 .dev h2 {
    color: #0b1e7d;
    text-align: center;
    padding: 0 30px;
    font-size: 35px;
    margin-top: 31px;
    /* margin-bottom: 40px; */
    letter-spacing: 1px;
 }

 .left_dev {
    background-color: #dededec7;
    margin-left: 30px;
    border-radius: 10px;
    padding-top: 40px;
    height: 344px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }

 .left_dev h4 {
    display: inline-block;
    font-size: 26px;
    padding: 10px 20px;
    border-radius: 0 50px 50px 0;
    margin-bottom: 10px;
    text-align: center;
    background-color: #d9126f;
    color: #fff;
    background: linear-gradient(90deg, rgb(217 18 111 / 45%) 0%, rgb(217 18 111) 10%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

 }

 .dev_courses {
    margin-top: 40px;
    margin-left: 10px;
    width: 710px;
 }

 .dev_courses ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 36px;
    column-gap: 0px;
    border-radius: 20px;
    list-style: none;
    margin-top: -27px !important;
    margin: 0 10px;
 }

 .dev_courses li {
    display: flex;
    align-items: center;
    gap: 17px;
    font-size: 14px;
    font-weight: 700;
    color: #0b1e7d;
 }

 .dev_courses svg {
    width: 18px;
    height: 18px;
 }

 .dev_courses a {
    text-decoration: none;
    color: #fff;
 }

 .main_dev {
    display: flex;
    gap: 20px;
    margin-top: 39px;
 }

 .right_dev img {
    width: 720px;
    height: 384px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }



 .bi {
    background: linear-gradient(94deg, rgb(238 234 233) 10%, rgb(246 244 245) 31%);
    height: 517px;
    margin-top: 45px;
 }

 .bi-content h2 {
    font-family: Viga;
    color: #0b1e7d;
    text-align: center;
    padding: 0 30px;
    font-size: 35px;
    margin-bottom: 20px;
    letter-spacing: 1px;
    padding-top: 29px;
 }

 .left-bi img {
    width: 700px;
    height: 367px;
    border-radius: 10px;
    margin-left: 50px;
    margin-top: 0px;
 }

 .right_bi h4 {
    font-size: 27px;
    padding: 10px 20px;
    background-color: #fecb00;
    margin-top: 40px;
    border-radius: 20px 5px 20px 5px;
    text-align: center;
    color: #0824b2;
    margin-left: 120px;
    display: inline-block;
 }

 .power_courses {
    margin-top: 40px;
    margin-left: 10px;
 }

 .power_courses ul {
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    row-gap: 32px;
    column-gap: 70px;
    border-radius: 20px;
    padding: 20px;
    list-style: none;
    margin: 0 10px;
    margin-top: 5px;
    padding-top: 0px;
    /* height: 270px; */
 }

 .power_courses li {
    display: flex;
    align-items: center;
    gap: 17px;
    font-size: 20px;
    color: #000;
 }

 .power_courses svg {
    width: 18px;
    height: 18px;
 }

 .power_courses a {
    text-decoration: none;
    color: #fff;
 }

 .main-bi {
    display: flex;
    gap: 20px;
    font-family: Viga;
 }


 .mission {
    padding: 10px;
    background: linear-gradient(90deg, rgb(11 23 81) 0%, rgb(10 29 121) 31%);
    height: 566px;
    font-family: Viga;
 }

 .mission-content h2 {
    color: #fecb00;
    font-family: Viga;
    text-align: center;
    font-size: 35px;
    margin: 20px;
    margin-top: 50px !important;
    letter-spacing: 1px;
 }

 .left-mission {
    background: linear-gradient(90deg, rgb(13 29 105) 0%, rgb(10 29 121) 31%);
    padding: 30px;
    border-radius: 20px;
    border: solid 2px #e5c000;
    width: 622px;
    height: 327px;
    color: white;
    margin-left: 50px;
    margin-top: 20px;
 }

 .left-mission h4 {
    font-size: 25px;
    margin-bottom: 20px
 }

 .left-mission p {
    font-size: 14px;
    margin-bottom: 20px;
 }

 .mission-svg {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #e0aa0c;
    margin-bottom: 20px;
 }

 .left-mission svg {
    color: white;
    width: 40px;
    height: 40px;
 }

 .left-miss_courses {
    margin-top: 40px;
    margin-left: 10px;
 }

 .left-miss_courses ul {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 13px;
    margin-left: -10px;
    margin-top: -19px;
    list-style: none;

 }

 .left-miss_courses li {
    align-items: center;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 24px;
 }

 .left-miss_courses svg {
    width: 18px;
    height: 18px;
 }

 .right-vision {
    background: linear-gradient(90deg, rgb(13 29 105) 0%, rgb(10 29 121) 31%);
    padding: 30px;
    border-radius: 20px;
    border: solid 2px #e5c000;
    width: 622px;
    height: 327px;
    color: white;
    margin-left: 30px;
    margin-top: 20px;
 }

 .right-vision h4 {
    font-size: 25px;
    margin-bottom: 20px
 }

 .right-vision p {
    font-size: 14px;
    margin-bottom: 20px;
 }

 .vision-svg {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #e0aa0c;
    margin-bottom: 20px;
 }

 .right-vision svg {
    color: white;
    width: 40px;
    height: 40px;
 }

 .right-vis_courses {
    margin-top: 40px;
    margin-left: 10px;
 }

 .right-vis_courses ul {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 13px;
    margin-left: -10px;
    margin-top: -19px;
    list-style: none;
 }

 .right-vis_courses li {
    align-items: center;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 24px;
 }

 .right-vis_courses svg {
    width: 18px;
    height: 18px;
 }

 .main-mission {
    display: flex;
    gap: 0spx;
 }

 .footer {
    font-family: Poppins;
    padding: 10px;
    text-align: center;
    color: white;
    min-height: 71px;
    background: #0a1d7b url(../images/scopeindia-blue-bkg.webp) repeat-x;
    line-height: 21px;
    height: 119px;
 }

 .footer p {
    display: block;
    margin: 14px;
 }

 .foot1 {
    font-size: 14px;
 }

 .foot2 {
    /* font-size: 14.6px !important; */
    margin-left: 5px !important;
 }

 .footer a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 14px;
    padding: 5px 10px;
    margin: 0px 5px 0 5px
 }

 .foot3 {
    font-size: 14px;
 }


 /* Courses page------------------------------------------------------------------------- */

 .ai_course {
    font-family: Viga;
    margin-top: 0px;
    color: #04145f;
    text-align: center;

    font-size: 20px;
    background-color: #fdd51c;
    height: 45px;
    border-top: 5px solid #c7ac20
 }

 .ai_course h2 {
    font-weight: normal;
 }

 .data_course {
    display: grid;
    /* gap: 3px; */
    height: 138px;
    background-color: #04145f;
    grid-template-columns: repeat(3, 1fr);
 }

 .data_course a {
    text-align: left;
    border-radius: 10px;
    margin: 20px 10px;
    font-weight: 400;
    border: 2px solid #c7ac20;
    text-decoration: none;
    color: #04145f;
    background: #fff9dc url(../images/right-arrow-gold.png) no-repeat;
    background-size: 20px 33px;
    background-position: 95%;
    height: 70px;
 }

 .software_course {
    display: grid;
    /* gap: 3px; */
    height: 350px;
    background-color: #04145f;
    grid-template-columns: repeat(3, 1fr);
 }

 .software_course a {
    text-align: left;
    border-radius: 10px;
    margin: 20px 10px;
    font-weight: 400;
    border: 2px solid #c7ac20;
    text-decoration: none;
    color: #04145f;
    background: #fff9dc url(../images/right-arrow-gold.png) no-repeat;
    background-size: 20px 33px;
    background-position: 95%;
    height: 70px;
 }

 .Cloud_course {
    display: grid;
    /* gap: 3px; */
    height: 350px;
    background-color: #04145f;
    grid-template-columns: repeat(3, 1fr);
 }

 .Cloud_course a {
    text-align: left;
    border-radius: 10px;
    margin: 20px 10px;
    font-weight: 400;
    border: 2px solid #c7ac20;
    text-decoration: none;
    color: #092bcd;
    background: #fff9dc url(../images/right-arrow-gold.png) no-repeat;
    background-size: 20px 33px;
    background-position: 95%;
    height: 70px;
 }






 /* regst------------------------------------------------------------------------------------------------- */

 .form{
   background-color:  #04145f;
   
 }
 .form_grid{
   color: #14267c;
    text-align: left;
    padding: 20px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 10px;
    margin: 10px 5px;
    font-family: Poppins;
    border: 2px solid #c7ac20;
    background-color: white;
    /* height: 80px; */
 }
 .regstr_grid {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-template-columns: 33% 33% 33%;
    gap: 1px;
    padding-top: 10px;
   margin-left: 5px;
   margin-right: 5px;
 }
 input{
    margin: 5px 0px;
    border: 1px solid #c7ac20;
    background-color: #f5f5ff;
    border-radius: 5px;
    padding: 5px;
    width: 430px;
    height: 35px;
 }

 .form_grid input[type="radio"]{
   width: auto;
   height: auto;
 }
 .form_grid input[type="checkbox"]{
   width: auto;
   height: auto;
 }
 .regbutt{
    font-size: 28px;
    background: linear-gradient(100deg, #8b8a8a, #acacac);
    color: white;
    box-shadow: white 2px 2px 10px;
    /* padding: 10px; */
    border: 2px solid gold;
    text-shadow: blue 2px 1px 5px;
    cursor: pointer;
    padding: 10px;
    margin-bottom: 40px;
    border-radius: 7px;
    margin-left: 37.2%;
    margin-top: 30px;
    font-family: Poppins;
    font-weight: bold;
}